*{
    /* background-color: hsl(0, 0%, 8%); */
    color: hsl(0, 0%, 100%);
}
.container{
    background-color: hsl(0, 0%, 12%);
    width: 1440px;
}
#place{
    color: hsl(75, 94%, 57%);
}
img{
    border-radius: 100%;
}

.profile {
    
}